@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.col_1 {
  width: 6.5%;
}

.col_2 {
  width: 15%;
}

.col_3 {
  width: 23.5%;
}

.col_4 {
  width: 32%;
}

.col_5 {
  width: 40.5%;
}

.col_6 {
  width: 49%;
}

.col_7 {
  width: 57.5%;
}

.col_8 {
  width: 66%;
}

.col_9 {
  width: 74.5%;
}

.col_10 {
  width: 83%;
}

.col_11 {
  width: 91.5%;
}

.col_12 {
  width: 100%;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #212529;
}

body {
  max-width: 1920px;
  min-width: 767px;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

#navbarNavAltMarkup a.nav-link {
  line-height: 2;
}

.w-100 {
  width: 100%;
  padding-bottom: 50px;
}

.carousel-text {
  margin-bottom: 100px;
}

.carousel-indicators {
  bottom: 70px;
}

.jumbotron {
  margin-bottom: 0;
}

#footer .jumbotron {
  padding: 1.3rem 4rem;
}

#footer ul li {
  position: relative;
  margin-right: 10px;
}

#footer ul li::marker {
  display: none;
}

#footer ul li:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  right: 0;
  background: #212529;
}

#footer ul li:last-child:after {
  display: none;
}

#footer ul li a {
  list-style: none;
  color: #333;
  font-weight: bold;
}

#footer p:nth-of-type(1), #footer p:nth-of-type(2), #footer p:nth-of-type(3) {
  font-size: 14px;
}

#footer p:nth-of-type(4) {
  padding-top: 15px;
  border-top: 1px solid #212529;
}

.container.expand.img .row .col_12 {
  border-bottom: 1px solid #213d59;
}

.container .row {
  width: 100%;
  overflow: hidden;
}

.container .row .col_4 .card {
  width: 100%;
  text-align: center;
  border: none;
}

.container .row .col_4 .card .card-img-top {
  width: 50%;
  margin: 50px auto;
  border-radius: 100%;
  background-color: #b1d7d1;
}

.container .row .col_6 .card .row {
  padding: 36px;
}

.container .row .col_6 .card .row.no-gutters {
  border: 1px solid #b1d7d1;
}

.container .row .col_12 .navbar {
  padding: 2rem;
}

.container .row .col_12 .navbar > a {
  font-family: 'Song Myung', serif;
  font-size: 32px;
}

.container .row .col_12 .navbar-nav a {
  font-size: 18px;
}

.container .row .col_12 .card {
  border: none;
}

.container .row .col_12 .card .card-img-overlay {
  color: #212529;
}

.container .row .col_12 .card .card-img-overlay .card-text {
  display: inline-block;
  position: absolute;
  font-size: 21px;
}

.container .row .col_12 .card .card-img-overlay .card-text span {
  font-weight: bold;
  color: #00aa91;
}

.container .row .col_12 .card .card-img-overlay .card-text.after-icon {
  margin-right: 80px;
}

.container .row .col_12 .card .card-img-overlay .card-text.after-icon:after {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  right: -80px;
  transform: translateY(-15px);
}

.container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(1) {
  top: 30%;
}

.container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(1):after {
  background: url("../img/icon/water.png") no-repeat;
}

.container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(3) {
  top: 60%;
  left: 270px;
}

.container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(3):after {
  background: url("../img/icon/minerals.png") no-repeat;
}

.container .row .col_12 .card .card-img-overlay .card-text.before-icon {
  margin-left: 80px;
}

.container .row .col_12 .card .card-img-overlay .card-text.before-icon:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  left: -80px;
  transform: translateY(-15px);
}

.container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(2) {
  top: 45%;
  right: 210px;
}

.container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(2):before {
  background: url("../img/icon/meters.png") no-repeat;
}

.container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(4) {
  top: 75%;
  right: 250px;
}

.container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(4):before {
  background: url("../img/icon/volcano.png") no-repeat;
}

.container .row .col_12 .card .card-img-overlay.card-bottom {
  text-align: center;
  padding: 300px 0;
}

.container .row .col_12 .jumbotron {
  overflow: hidden;
}

.container .row .col_12 .jumbotron ul {
  overflow: hidden;
  padding-left: 0;
}

.container .row .col_12 .jumbotron ul li {
  float: left;
  padding-right: 16px;
}

.container .row .col_12 .jumbotron ul li:last-child {
  padding-right: 0px;
}

.container .row .col_12 .jumbotron p {
  display: block;
}

.container .row .col_12 .carousel-inner h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.container .row .col_12 .carousel-inner h5.black-text, .container .row .col_12 .carousel-inner h3.black-text {
  color: #212529;
}

.container .row .col_12 .carousel-inner h5.black-text span, .container .row .col_12 .carousel-inner h3.black-text span {
  color: #00aa91;
}

.container .row [class*=col] {
  float: left;
  margin-left: 2%;
  box-sizing: border-box;
}

.container .row [class*=col]:first-child {
  margin-left: 0;
}

.container h2 {
  text-align: center;
  margin: 50px 0;
  padding-bottom: 15px;
}

.container h2 span {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #00aa91;
  padding-bottom: 15px;
}

.container .container-text {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}

.container .container-text span {
  color: #00aa91;
}

.container .btn-primary {
  background: #00aa91;
  border-color: #00aa91;
}

.container .btn-primary:hover {
  background: #fff;
  color: #00aa91;
}

/* media query area */
@media screen and (min-width: 1200px) {
  #header {
    max-width: 1920px;
    padding: 0;
  }
  #header .row {
    width: auto;
    margin: 0;
  }
  .container {
    padding: 0;
  }
  .container.expand {
    max-width: 1920px;
  }
  .container.expand h5 {
    font-size: 1.75rem;
  }
  .container.expand .row {
    width: auto;
    margin: 0;
  }
  #footer {
    max-width: 1920px;
  }
  #footer .row {
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container .row .col_12 .card .card-img-overlay.card-bottom {
    padding: 200px 0;
  }
  .container .row .col_12 .card .card-img-overlay .card-text {
    font-size: 18px;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(2) {
    right: 180px;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(3) {
    left: 220px;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(4) {
    right: 200px;
  }
  .container .row .col_12 .carousel-inner h3 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .container .row .col_12 .carousel-inner h5 {
    font-size: 18px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .container .row .col_6 .card.mb-3 {
    border: 0;
  }
  .container .row .col_6 .card.mb-3 .row.no-gutters {
    padding: 30px;
    height: 250px;
  }
  .container .row .col_12 .card .card-img-overlay.card-bottom {
    padding: 100px 0;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(1) {
    top: 20%;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(2) {
    right: 80px;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(3) {
    left: 110px;
  }
  .container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(4) {
    right: 100px;
  }
  .container .row .col_12 .carousel-inner h3 {
    font-size: 21px;
  }
  .container .row .col_12 .carousel-inner h5 {
    font-size: 16px;
  }
  .h2, h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  body.main .container .row .col_6 {
    width: 100%;
  }
  body.main .container .row .col_6.card-2 {
    margin-left: 0;
  }
  body.main .container .row .col_6 .card.mb-3 .row.no-gutters {
    padding: 40px;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text {
    left: 0;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.before-icon {
    margin-right: 0;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.before-icon:before {
    display: none;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.after-icon {
    margin-left: 0;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.after-icon:after {
    display: none;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(1) {
    left: 0px;
    margin-left: 20px;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(2) {
    left: 0px;
    top: 35%;
    margin-left: 20px;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.after-icon:nth-child(3) {
    left: 0px;
    top: 50%;
    margin-left: 20px;
  }
  body.main .container .row .col_12 .card .card-img-overlay .card-text.before-icon:nth-child(4) {
    left: 0px;
    top: 65%;
    margin-left: 20px;
  }
  body.main .container .row .col_12 .card .card-img-overlay.card-bottom {
    padding: 80px 0;
  }
  .h5, h5 {
    font-size: 1rem;
  }
}

body.sub .container .row .col_12 .card {
  border: none;
}

body.sub .container .row .col_12 .card h1 {
  color: #212529;
  font-weight: bold;
  font-size: 30px;
}

body.sub .container .row .col_12 .card h1.white-text {
  color: #fff;
}

body.sub .container .row .col_12 .card h1.black-text {
  color: #212529;
}

body.sub .container .row .col_12 .card h1.big {
  font-size: 50px;
}

body.sub .container .row .col_12 .card .card-img-overlay.card-bottom.less-padding {
  padding: 125px 0;
}

body.sub .container .row .col_12 .card .card-img-overlay.card-bottom {
  padding: 400px 0;
}

body.sub .container .row .col_12 .container {
  padding: 0;
}

body.sub .container .row .col_12 .container .row {
  margin: 0;
}

body.sub .container .row .col_12 .container .row .col_6 .table {
  margin: 0 auto;
  background-color: #fff;
  opacity: .8;
  color: #212529;
}

body.sub .container .row .col_12 .container .row .col_6 .table td, body.sub .container .row .col_12 .container .row .col_6 .table th {
  border-color: #00aa91;
}

body.sub .container .row .col_12 .container .row .col_6 .table caption {
  color: #fff;
}

body.sub .container .row .col_3 .card {
  width: 100%;
  border: 0;
  margin: 50px 0;
}

body.sub .container .row .col_3 .card img {
  width: 40%;
  margin: 20px auto 0;
}

body.sub .container .row .col_3 .card .card-text {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  body.sub .container .row .col_12 .card .card-img-overlay.card-bottom.less-padding {
    padding: 65px 0;
  }
  body.sub .container .row .col_12 .card .card-img-overlay.card-bottom {
    padding: 200px 0;
  }
  body.sub .container .row .col_12 .card h1.big {
    font-size: 32px;
  }
}

@media screen and (max-width: 991px) {
  body.sub .container .row .col_12 .card img.table-img {
    height: 700px;
  }
}

@media screen and (max-width: 767px) {
  body.sub .container .row .col_12 .card img.table-img {
    height: 600px;
  }
  body.sub .container .row .col_12 .card .card-img-overlay.card-bottom {
    padding: 120px 0;
  }
  body.sub .container .row .col_12 .card .card-img-overlay.card-bottom h1 {
    font-size: 21px;
  }
  body.sub .container .row .col_12 .card h1.big {
    font-size: 21px;
  }
  body.sub .container .row .col_12 .card .container .row .col_6 {
    width: 80%;
  }
}
