//변수선언
$columnWidth: 6.5%;
$gutterWidth: 2%;

// color
$borderColorPrimary: #f2faf9;
$borderColorImg: #213d59;
$borderColorCard: #b1d7d1;
$gbtnColorPrimary: #00aa91;
$iconBg: #b1d7d1;

//fontcolor
$fontColorPrimary: #212529;
$fontColorBasic: #333;

// font-size
$fontSizeMid: 18px;
$fontSizePrimary: 21px;
$fontSizeBig: 32px;
